html, body, .root {
  height: 100%;
}
body {
  line-height: 1.5;
}
body, .app {
  background: white;
}

.cardbg {
  position:absolute;  
  background: #5c6bc0;
  color: white;  
  border-radius: 4px;  
  left: 2px;
  top: 2px;
}

.delete {
  position:absolute;
  width: '100%';
  border: 1px solid #5c6bc0;
  border-radius: 4px;  
  right: -10px;
  top: -10px;
  color: #5c6bc0;
}
a:link:hover {
  color: #5c6bc0;
}
