html, body, .root {
  height: 100%;
}
body {
  line-height: 1.5;
}
body, .app {
  background: white;
}

.cardbg {
  position:absolute;  
  background: #5c6bc0;
  color: white;  
  border: 3px solid #5c6bc0;
}

.delete {
  position:absolute;
  right: -10px;
  top: -10px;
  color: #5c6bc0; 
  background: white;
  
}
